@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/calsans-semibold.woff2") format("woff2"), url("../fonts/calsans-semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  min-width: 320px;
}

body {
  font-family: Poppins;
  color: #666666;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*------- TITLE -------*/
.title {
  font-family: CalSans;
  color: #121212;
  text-align: center;
  font-size: 44px;
  line-height: 1.2;
}

.title span {
  color: #ff6428;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 38px;
  }
}
/*------- TITLE -------*/
/*------- page -------*/
.page {
  flex: 1 1 auto;
}

/*------- page -------*/
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*======== HEADER ==================================================*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 126px;
  min-height: 152px;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 46px;
}

.menu__item {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 9px #fff;
  padding: 0 5px;
  border-radius: 7px;
}

.menu__link {
  display: inline-block;
  color: rgba(18, 18, 18, 0.4);
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  transform: scale(1.5);
  transition: all 0.3s ease 0s;
  color: black;
  text-shadow: 3px 3px 5px #000;
}

@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 65px;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    gap: 15px;
  }

  .menu__list {
    gap: 10px;
  }

  .header__logo {
    flex: 0 0 28px;
    width: 28px;
    overflow: hidden;
  }
}
/*======== BLOCK main ==================================================*/
.main {
  padding-bottom: 80px;
}

.main__container {
  display: flex;
}

.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 20px;
}

.main__title {
  font-family: CalSans;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  color: #121212;
}

.main__title span {
  color: #FF6428;
}

.main__title:not(:last-child) {
  margin-bottom: 16px;
}

.main__text {
  line-height: 24px;
  color: #666666;
  max-width: 400px;
}

.main__text:not(:last-child) {
  margin-bottom: 33px;
}

.main__actions {
  display: flex;
  align-items: center;
}

.actions-main__button {
  padding: 18px 54px;
  background-color: #FF6428;
  border-radius: 40px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.actions-main__button:not(:last-child) {
  margin-right: 40px;
}

.actions-main__icon:not(:last-child) {
  margin-right: 28px;
}

.main__decor {
  flex: 0 1 50%;
}

.main__image {
  margin-right: -135px;
  position: relative;
  padding-bottom: 97.66%;
  max-width: 672px;
}

.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0 0 151px 360px;
}

.main__image::after {
  content: "";
  background: url("../img/header/heade2.svg") 0 0 no-repeat;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 36.31%;
  bottom: -40px;
}

@media (max-width: 1092px) {
  .main__image img {
    width: 100%;
  }

  .main__content {
    flex: 0 0 60%;
    padding-bottom: 0;
  }

  .main__decor {
    flex: 0 0 40%;
  }
}
@media (max-width: 767.98px) {
  .main__content {
    flex: 1 1 100%;
    padding-right: 0;
    padding-top: 80px;
  }

  .main__decor {
    display: none;
  }

  .main__title {
    font-size: 44px;
  }
}
@media (max-width: 479.98px) {
  .main__actions {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .actions-main__button {
    flex: 1 1 100%;
  }

  .actions-main__button:not(:last-child) {
    margin-right: 0;
  }

  .actions-main__icon {
    flex: 0 0 27px;
    margin-top: -60px;
  }

  .actions-main__icon:not(:last-child) {
    margin-right: 0;
  }
}
/*======== BLOCK store ==================================================*/
.store {
  padding-top: 80px;
  padding-bottom: 90px;
}

.store__title {
  margin-bottom: 86px;
}

.body-store__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 32px;
}

.body-store__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #121212;
}

.body-store__all {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #868686;
}

.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}

.body-store__item {
  display: grid;
}

.item__image {
  text-align: center;
}

.item__image img {
  max-width: 100%;
}

.item__image:not(:last-child) {
  margin-bottom: 40px;
}

.item__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #121212;
  justify-self: start;
}

.item__title:not(:last-child) {
  margin-bottom: 7px;
}

.item__title:hover {
  text-decoration: underline;
}

.item__price {
  line-height: 1.5;
}

.two {
  margin-top: 96px;
}

@media (max-width: 991.98px) {
  .store {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .store__title {
    margin-bottom: 50px;
  }

  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .store {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .store__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 560px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 370px) {
  .body-store__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .body-store__all {
    align-self: flex-end;
  }
}
/*======== BLOCK categories ==================================================*/
.categories {
  padding-top: 90px;
  padding-bottom: 110px;
}

.categories__title {
  margin-bottom: 80px;
}

.categories__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 220px));
  column-gap: 70px;
  row-gap: 35px;
  justify-content: center;
}

.item-category {
  position: relative;
}

.item-category:hover .item-category__image img {
  transform: scale(1.2);
}

.item-category:hover .item-category__title {
  transform: scale(1.7);
}

.item-category__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  transition: all 0.8s ease 0s;
}

.item-category__image {
  position: relative;
  padding-top: 127%;
  border-radius: 20px;
  overflow: hidden;
}

.item-category__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}

.item-category__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  z-index: 2;
}

@media (max-width: 1200px) {
  .categories__items {
    column-gap: 40px;
  }
}
@media (max-width: 992.98px) {
  .categories__items {
    grid-template-columns: repeat(2, minmax(120px, 220px));
    gap: 70px;
  }
}
@media (max-width: 600px) {
  .categories__items {
    column-gap: 25px;
  }
}
@media (max-width: 480px) {
  .categories__items {
    grid-template-columns: repeat(1, 220px);
    column-gap: 0px;
    row-gap: 35px;
  }
}
/*======== BLOCK brand ==================================================*/
.brands {
  padding-top: 30px;
  padding-bottom: 180px;
}

.brands__title {
  margin-bottom: 75px;
}

.brands__items {
  max-width: 1021px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 80px;
}

.brands__item img {
  max-width: 100%;
}

@media (max-width: 991.89px) {
  .brands {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .brands__title {
    margin-bottom: 40px;
  }

  .brands__items {
    row-gap: 50px;
    justify-content: space-around;
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 767.89px) {
  .brands {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .brands__title {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .brands__items {
    row-gap: 40px;
    justify-content: space-around;
    grid-template-columns: repeat(2, auto);
  }
}
/*======== BLOCK why ==================================================*/
.why {
  background-color: #121212;
  padding-top: 90px;
  padding-bottom: 90px;
}

.why__title {
  margin-bottom: 35px;
  color: #fff;
}

.why__items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 30px;
}

.item__why {
  display: grid;
  justify-items: center;
  padding: 40px;
  text-align: center;
}

.item-why__icon {
  display: flex;
  width: 72px;
  height: 72px;
  background-color: #262626;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.item-why__icon:not(:last-child) {
  margin-bottom: 40px;
}

.item-why__title {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.item-why__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .why__items {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .item__why {
    padding: 20px;
  }
}
/*======== BLOCK reviews ==================================================*/
.reviews {
  padding-top: 240px;
  padding-bottom: 240px;
}

.reviews__tiltle {
  margin-bottom: 100px;
}

.slide-swiper-reviews {
  display: flex;
}

.slide-swiper-reviews__picture {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide-swiper-reviews__image {
  width: 320px;
  height: 320px;
  position: relative;
}

.slide-swiper-reviews__image::before {
  content: "";
  position: absolute;
  width: 285px;
  height: 257px;
  top: 45px;
  right: 100px;
  background-color: #ff6428;
  border-radius: 40px 0px 400px 400px;
  transform: rotate(-7.72deg);
}

.slide-swiper-reviews__image img {
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: center;
}

.slide-swiper-reviews__body {
  flex: 0 1 50%;
}

.slide-swiper-reviews__text {
  font-size: 24px;
  line-height: 160%;
}

.slide-swiper-reviews__text:not(:last-child) {
  margin-bottom: 56px;
}

.slide-swiper-reviews__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slide-swiper-reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #000;
}

.slide-swiper-reviews__name:not(:last-child) {
  margin-bottom: 8px;
}

.slide-swiper-reviews__position {
  color: #868686;
  font-size: 18px;
  letter-spacing: 0.08em;
  font-weight: 500;
  text-transform: uppercase;
}

.swiper-reviews__pagination {
  display: flex;
  justify-content: flex-end;
}

.swiper-reviews__pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #c4c4c4;
  border-radius: 20px;
  flex: 0 0 10px;
  height: 16px;
  transition: all 1s ease 0s;
}

.swiper-reviews__pagination .swiper-pagination-bullet-active {
  background-color: #ff6428;
  border-radius: 20px;
  flex: 0 0 24px;
  height: 16;
}

@media (max-width: 1230px) {
  .reviews__swiper .swiper {
    margin-left: -15px;
  }
}
@media (max-width: 991.98px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .slide-swiper-reviews {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .slide-swiper-reviews__author {
    text-align: center;
    padding-bottom: 50px;
  }

  .swiper-reviews__pagination {
    position: relative;
    bottom: 0px;
    left: 0px;
  }
}
/*======== BLOCK favorite ==================================================*/
.favorite {
  padding-bottom: 120px;
}

.favorite__container {
  display: flex;
  align-items: center;
}

.favorite__body {
  flex: 0 1 50%;
  padding-right: 20px;
}

.favorite__title {
  text-align: left;
  font-size: 48px;
  line-height: 140%;
}

.favorite__title:not(:last-child) {
  margin-bottom: 60px;
}

.apps-favorite {
  display: flex;
  gap: 25px;
}

.apps-favorite__item img {
  max-width: 100%;
}

.favorite__images {
  flex: 0 1 50%;
  text-align: center;
}

.favorite__images img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .favorite {
    padding-bottom: 50px;
  }

  .apps-favorite {
    justify-content: center;
    padding-bottom: 30px;
  }

  .favorite__container {
    flex-direction: column;
  }

  .favorite__title {
    font-size: 38px;
  }

  .favorite__title:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .favorite {
    padding-bottom: 30px;
  }
}
@media (max-width: 444px) {
  .apps-favorite {
    flex-direction: column;
    text-align: center;
  }
}
